<style type="text/css" rel="stylesheet">
    .vcs-repos {

    }

    .vcs-repos i {
        margin-right: 5px;
    }

    .vcs-repos p {
        height: 80px;
    }

    .repo-meta {

    }

    .repo-list {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        flex-wrap: wrap;
    }

    .repo-pin {
        display: flex;
        flex-direction: column;

        align-content: center;
        align-items: center;
        justify-content: space-around;

        background-color: white;
        color: black;

        width: 225px;
        height: 225px;

        margin: 15px;
        padding: 10px;

        border-radius: 2px;
        border: 1px #eaecef solid;
    }

    .repo-pin .repo-title {
        display: flex;
        flex-direction: row;
        color: #1d76da;
        text-align: center;
    }
</style>

<div class="vcs-repos">
    <div class="repo-meta">
        <div class="repo-list">
            {{range .Repositories.Nodes}}
                <div class="repo-pin">
                    <div class="repo-title">
                        <b> <i class="fas fa-book"></i><a href="{{.Url}}">{{.NameWithOwner}}</a></b>
                    </div>
                    <p>{{.Description}}</p>
                    <span><i class="fas fa-code-branch"></i>Forks: {{.ForkCount}}</span>
                    <span><i class="fas fa-star"></i>Stars: {{.Stargazers.TotalCount}}</span>
                    <span style="color: {{.PrimaryLanguage.Color}}"><i class="fas fa-code"></i>{{.PrimaryLanguage.Name}}</span>
                </div>
            {{end}}
        </div>
    </div>
</div>